::placeholder {
    color: #CDD9E5;
}

body {
    background-color: #22272E;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-family: 'Expletus Sans';
    letter-spacing: 6px;
}

#add-shortcut-box {
    background-color: #373E48;
    width: 60px; 
    box-shadow: 0px 3px 4px 0px #101316; 
    cursor: pointer;
    outline: 0;
    border: 0;
}

#add-shortcut-box:hover {
    background-color: #444c58;
}